@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $primary_color;
}

img {
    width: 250px;
}

a {
    margin: 15px 0;
}

label {
    display: block;
}
